.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 10px;
}
.embla__slide {
  flex: 0 0 80%;
  min-width: 0;
  overflow: hidden;
}

.embla__slide img {
  box-shadow: 7px 12px 0px 0px gainsboro;
  cursor: grab;
}
