.eye-exam .content .show img {
  height: 80vh;
  cursor: grab;
  border-radius: 10px;
}

.eye-exam .exam-types {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 20px;
}

.eye-exam .exam-types img {
  height: 100px;
}

.eye-exam .content .text-content .footer-note {
  margin: 50px auto;
  width: 90vw;
  text-align: justify;
}

/* Media Query for Mobile */
@media (max-width: 480px) {
  .eye-exam .exam-types > div {
    width: auto;
  }
  .eye-exam .content .show img {
    height: 40vh;
    width: 90vw;
    object-fit: contain;
  }
}

/* Media Query for  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
  .eye-exam .exam-types > div {
    width: 25vw;
  }
  .eye-exam .content .show img {
    height: 40vh;
    width: 85vw;
  }
}
