.about-us.container {
  padding: 20px;
}

.about-us.container > div {
  text-align: justify;
  margin: 30px 0;
}

.about-us.container > video {
  border-radius: 10px;
  width: 100%;
}

.about-us.container img {
  height: 250px;
}

@media (max-width: 480px) {
  .about-us.container .text-content {
    width: auto;
    text-align: center;
  }
  .about-us.container {
    padding: 20px 4vw !important;
  }
}

.about-us.container .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
}
