.contactus .container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  gap: 20px;
  flex-wrap: wrap;
}

.contactus .container .map,
.contactus .container .social,
.contactus .container .social > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 40vw;
  flex-wrap: wrap;
}

.contactus .container .social .banner {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  user-select: none;
}

.contactus .container .social > div {
  flex-direction: row;
  justify-content: center;
}

.contactus .container .social .accounts img {
  height: 40px;
  transition: all 0.2s ease-in-out;
}

.contactus .container .social a:hover img {
  transform: translateY(-5px);
  filter: drop-shadow(2px 4px 1px gray);
  scale: 1.5;
}
