.contactus .container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  gap: 20px;
  flex-wrap: wrap;
}

.contactus .container .map,
.contactus .container .social,
.contactus .container .social > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 40vw;
  flex-wrap: wrap;
}

.contactus .container .social .banner {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  user-select: none;
}

.contactus .container .social > div {
  flex-direction: row;
  justify-content: center;
}

.contactus .container .social .accounts img {
  height: 40px;
  transition: all 0.2s ease;
}

.contactus .container .social a:hover img {
  transform: translateY(-5px);
  scale: 1.5;
}

.contactus .container .social a::after {
  content: "";
  display: block;
  height: 5px;
  width: 5px;
  position: relative;
  background-color: var(--hover-color);
  margin: auto;
  border-radius: 50%;
  visibility: hidden;
}

.contactus .container .social a:hover::after {
  animation: socialSelect 0.2s ease;
  visibility: visible;
}

@keyframes socialSelect {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}
