.eye-glass .content .image-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.eye-glass .content img {
  transition: all 0.5s ease;
}
.eye-glass .content img:hover {
  scale: 1.5;
}

.eyeglass-image {
  min-width: 200px;
  overflow: hidden;
}

.eye-glass .content p {
  width: 80vw;
  margin: 25px auto;
  text-align: justify;
}

.eye-glass video {
  border-radius: 20px;
  width: 75%;
}

@media (max-width: 480px) {
  .eye-glass video {
    border-radius: 20px;
    width: 95%;
  }
}

.eye-glass.container .header-title {
  position: relative;
}
.eye-glass.container .header-title > img {
  height: 50px;
  position: absolute;
  right: 17%;
  transform: rotate(20deg);
  top: -40px;
}
