.dashboard {
  position: relative;
}

.banner-hero > img {
  object-fit: cover;
  height: 85vh;
  width: 100%;
}

.banner-name {
  position: absolute;
  top: 0;
  text-align: left;
  color: #fff;
  width: 90vw;
  height: 100%;
}

.banner-name .title {
  letter-spacing: 6px;
}

.banner-name .name-trail {
  letter-spacing: 30px;
}

@media (max-width: 480px) {
  .banner-name .name-trail {
    letter-spacing: 5px;
  }
  .banner-name {
    width: 100vw;
    text-align: center;
  }
  .banner-text {
    width: auto !important;
    padding: 0 !important;
    text-align: justify;
  }
  .banner-buttons {
    padding: 50px !important;
  }
  .banner-buttons > a > button {
    height: 60px;
    width: 50vw;
    font-size: 20px;
    background-color: #00000087 !important;
  }
  .banner-items > a {
    width: auto !important;
    min-height: 40px !important;
  }
}

.banner-text {
  width: 500px;
  font-size: 1.1rem;
  font-family: revert;
  padding: 0 50px;
}

.banner-text > p {
  background-color: #0000008e;
  padding: 20px 10px;
}

.banner-buttons {
  padding: 0 50px;
}

.banner-buttons > a > button {
  color: #fff;
  text-decoration: none;
}

.banner-buttons > a > button {
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 15px 20px;
  margin: 0 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.banner-buttons > a > button:hover {
  background-color: #ffffff38;
}

.banner-name .title,
.banner-name .name-trail {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: fantasy;
  color: #fff;
  text-shadow: 2px 2px black;
  transition: all 0.2s ease-out;
  padding: 0 50px;
}

.banner-items {
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: end;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  font-size: 2rem;
  flex-wrap: wrap;
}

.banner-items > a {
  background-color: #00000070;
  padding: 10px;
  height: auto;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.banner-items > a:hover {
  translate: 0 -10px;
}
