.footer {
  padding: 10px 50px;
  background-color: #ffffff;
  background-image: repeating-radial-gradient(
      circle at 50% -10%,
      transparent 40px,
      #ffffff 60px
    ),
    repeating-linear-gradient(#e8e8e855, #e8e8e8);
}

.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .right img {
  height: 250px;
}

.footer .left {
  text-align: left;
  font-size: 14px;
}

.footer h5 {
  margin: 10px 0;
}

.footer p,
.footer ul {
  margin: 5px 0;
}
.footer ul {
  font-size: 0.83em;
  padding: 0;
}

.footer ul li {
  list-style: none;
  text-align: left;
}

.footer .middle {
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  min-width: 20%;
}

.footer .middle a {
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
  border-radius: 5px;
  padding: 5px;
}

.footer .middle a:hover {
  background-color: rgb(0 0 0 / 15%);
}

.footer .middle > div > h5 {
  padding: 0 5px;
}

.footer .container > * {
  width: 29vw;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 0;
  }

  .footer .container > * {
    width: 90vw;
  }
  .footer .container .left > * {
    white-space: break-spaces;
  }
}
