.sunglasses.container {
  padding: 0 40px;
}

.sunglasses.container img {
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.sunglasses.container .sunglass-list img:hover {
  scale: 1.05;
  box-shadow: 1px 2px 2px 0px #000000;
}

.sunglass-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sunglasses video {
  border-radius: 20px;
}

.anatomy {
  margin: 40px 0;
}

@media (max-width: 480px) {
  .sunglasses.container {
    padding: 0 10px 20px 10px !important;
  }
  .sunglasses video {
    width: 90% !important;
  }
  .sunglasses.container img.anatomy,
  .sunglasses.container .sunglass-list img {
    width: 100%;
    object-fit: cover;
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.title-container img {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 17%;
  transform: rotate(20deg);
  top: 0;
}
