body {
  margin: 0;
  font-family: "Poppins", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container:not(:first-child) {
  margin: 45px auto !important;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 20px;
  }
}
