.optom.container {
  width: 75vw;
  margin: auto;
}

.optom.container img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 8px #c9c9c9 solid;
}

.optom.container .content {
  padding: 0 50px;
  text-align: justify;
}

.optom.container h2,
.optom.container h3 {
  margin: 0;
}

.optom.container h3 {
  font-weight: normal;
  font-style: italic;
  color: grey;
  font-size: 1em;
}

@media (max-width: 480px) {
  .optom.container {
    width: 100% !important;
  }
  .optom.container .content {
    padding: 0 30px !important;
    text-align: left !important;
  }
}
